{% import "admin/templates/forms.html" as forms %}
{% extends "admin/layout/main.html" %}
{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Resources For {{ skill.name }}</h3>
    </div>
    <form class="form-horizontal" method="POST" action="{{ route('skill-resources') }}">
        <div class="box-body">
            <input type="hidden" name="skillId" value="{{ skill.id }}">
            {{ forms.textInput('title', 'Title') }}
            {{ forms.textInput('link', 'Link') }}
            {{ forms.select('mediaType', 'Media Type', skillMediaTypes) }}
            {{ forms.checkBox('isFree', 'Is Free') }}
        </div>
        <div class="box-footer">
            <a href="{{ route('skills/' + skill.id + '/edit') }}" class="btn btn-default"> &laquo; Back To Skill </a>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
