$primary: #4B55E9;

$danger: red;

$border: 1px solid rgba(0, 0, 0, .09);

$background-color: #FAFAFA;

$dark-grey: #EFEFEF;

$light-text: #777;

$dark-text: #252422;

$border-radius: 5px;

$breakpoint-tablet: 768px;
