{% import "admin/templates/forms.html" as forms %}
{% extends "admin/layout/main.html" %}
{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Skill Hierarchy</h3>
    </div>
    <form class="form-horizontal" method="POST" action="{{ route('skill-hierarchies') }}">
        <div class="box-body">
            <input type="hidden" name="skillAId" value="{{ skill.id }}">
            {{ forms.textInput('', 'This Skill', skill.name, 'text', true) }}
            {{ forms.select('relation', 'Relation', [{value: 'child', label: 'Is Child Of'}, {value: 'parent', label: 'Is Parent Of'}]) }}
            {{ forms.select('skillBId', 'Other Skill', skills) }}
            {{ forms.textInput('order', 'Order', '', 'number') }}
        </div>
        <div class="box-footer">
            <a href="{{ route('skills/' + skill.id + '/edit') }}" class="btn btn-default"> &laquo; Back To Skill </a>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
    </form>
</div>
{% endblock %}