.call-to-action{
    background: linear-gradient(45deg, #f54266, #3858f9);
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-scroll, .notification-scroll {
    max-height: 320px;
    position: relative;
}