{% macro textInput(name, label, value='', type='text') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <input type="{{ type }}" name="{{ name }}" class="form-control" id="input__{{ name }}" placeholder="{{ label }}"
            value="{{ value }}">
    </div>
</div>
{% endmacro %}

{% macro checkBox(name, label, value) %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <input type="checkbox" {{ 'checked' if value }} name="{{ name }}" id="input__{{ name }}" style="width: 20px; height: 20px;">
    </div>
</div>
{% endmacro %}

{% macro textArea(name, label, value='') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <textarea name="{{ name }}" class="form-control" id="input__{{ name }}" placeholder="{{ label }}">{{ value }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro select(name, label, options=[], value='') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <select name="{{ name }}" class="form-control" id="input__{{ name }}"
            value="{{ value }}">
        <option>-- Select {{ label }} -- </option>
        {% for option in options %}
            <option value="{{ option.value }}" {{ 'selected' if option.value == value }}>{{ option.label }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
