{% macro textInput(name, label, value='', type='text') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <input type="{{ type }}" name="{{ name }}" class="form-control" id="input__{{ name }}" placeholder="{{ label }}"
            value="{{ value }}">
    </div>
</div>
{% endmacro %}

{% macro textArea(name, label, value='') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <textarea name="{{ name }}" class="form-control" id="input__{{ name }}" placeholder="{{ label }}"
            value="{{ value }}"></textarea>
    </div>
</div>
{% endmacro %}

{% macro select(name, label, options=[], value='') %}
<div class="form-group">
    <label for="input__{{ name }}" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
        <select name="{{ name }}" class="form-control" id="input__{{ name }}"
            value="{{ value }}">
        {% for option in options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}
