.tag {
    font-size: 0.75rem;
    color: #14112d;
    background-color: #efeff5;
    border-radius: 0px;
    padding: 0 .5rem;
    line-height: 2em;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: default;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.tag {
    text-decoration: none;
    cursor: pointer;
    transition: .3s color, .3s background;
}

a.tag:hover {
    background-color: rgba(110, 118, 135, 0.2);
    color: inherit;
}

.tag-addon {
    display: inline-block;
    padding: 0 .5rem;
    color: inherit;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.06);
    margin: 0 -.5rem 0 .5rem;
    text-align: center;
    min-width: 1.5rem;
}

.tag-addon:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tag-addon i {
    vertical-align: middle;
    margin: 0 -.25rem;
}

a.tag-addon {
    text-decoration: none;
    cursor: pointer;
    transition: .3s color, .3s background;
}

a.tag-addon:hover {
    background: rgba(0, 0, 0, 0.16);
    color: inherit;
}

.tag-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px 0 0 3px;
    margin: 0 .5rem 0 -.5rem;
}

.tag-blue {
    background-color: #467fcf !important;
    color: #fff;
}

.tag-indigo {
    background-color: #3858f9 !important;
    color: #fff;
}

.tag-purple {
    background-color: #8500ff !important;
    color: #fff;
}

.tag-pink {
    background-color: #ec82ef !important;
    color: #fff;
}

.tag-red {
    background-color: #ec2d38 !important;
    color: #fff;
}

.tag-orange {
    background-color: #fd7e14 !important;
    color: #fff;
}

.tag-yellow {
    background-color: #fdb901 !important;
    color: #fff;
}

.tag-green {
    background-color: #0fa751 !important;
    color: #fff;
}

.tag-teal {
    background-color: #00cccc !important;
    color: #fff;
}

.tag-cyan {
    background-color: #17a2b8 !important;
    color: #fff;
}

.tag-white {
    background-color: #fff !important;
    color: #fff;
}

.tag-gray {
    background-color: #868e96 !important;
    color: #fff;
}

.tag-gray-dark {
    background-color: #343a40 !important;
    color: #fff;
}

.tag-azure {
    background-color: #17c1f4 !important;
    color: #fff;
}

.tag-lime {
    background-color: #7bd235 !important;
    color: #fff;
}

.tag-primary {
    background-color: #467fcf !important;
    color: #fff;
}

.tag-secondary {
    background-color: #868e96 !important;
    color: #fff;
}

.tag-success {
    background-color: #0fa751 !important;
    color: #fff;
}

.tag-info {
    background-color: #17c1f4 !important;
    color: #fff;
}

.tag-warning {
    background-color: #fdb901 !important;
    color: #fff;
}

.tag-danger {
    background-color: #ec2d38 !important;
    color: #fff;
}

.tag-light {
    background-color: #f8f9fa !important;
    color: #fff;
}

.tag-dark {
    background-color: #343a40 !important;
    color: #fff;
}

.tag-rounded {
    border-radius: 50px;
}

.tag-rounded .tag-avatar {
    border-radius: 50px;
}