.list-tutor-skills {
    &__container{
        height: 60px;
        cursor: pointer;
    }
    &__skill-logo {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        margin-right: 40px;
    }
    &__add-new-text{
        font-size: 20px;
        margin-top: 15px;
    }
    &__add-new-icon{
        color: #3858f9;
        &:hover{
            color: #3858f9;
        }
    }

    &__content{
        width: 100%;
    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0; 
    }
    &__list-value{
        color: #323232;
        float: right;
        font-weight: 600;
        text-align: right;
        margin-left: auto; 
    }
    &__list-label{
        color: #97a3b9;
        font-size: 12px;
        font-weight: 400;
    }
    &__list-item{
        line-height: 20px;
    }
}