.list-student-skills {
    &__skill-logo {
        display: inline-block;
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        text-align: center;
    }

    &__skill-heart{
        color: red;
    }

    &__breadcrumb{
        font-size: 12px;
        color: #999;
    }

    &__skill-title{
        margin-bottom: 2px;
    }

    &__skill-title-wrapper{
        margin-left: 10px;
        margin-bottom: -4px;
    }
}