{% import "admin/templates/forms.html" as forms %}
{% extends "admin/layout/main.html" %}
{% import "admin/templates/delete.html" as delete %}
{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Edit Skill</h3>
    </div>
    <form class="form-horizontal" method="POST" action="{{ route('skills/' + skill.id) }}?_method=PATCH">
        <div class="box-body">
            <input name="id" value="{{skill.id}}" type="hidden" />
            {{ forms.textInput('name', 'Name', skill.name) }}
            {{ forms.textArea('description', 'Description', skill.description) }}
            {{ forms.checkBox('isPath', 'Is Path', skill.isPath) }}
        </div>
        <div class="box-footer">
            <a href="{{ route('skills') }}" class="btn btn-default"> &laquo; Back To Skills</a>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
    </form>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Road Maps</h3>
        <div class="box-tools pull-right">
            <a href="{{ route('skill-road-maps/' + skill.id + '/create') }}" class="btn btn-primary btn-sm">
                Add Road Map
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Level</th>
                <th>Order</th>
                <th>Actions</th>
            </tr>
            {% for roadMap in skill.roadMaps %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ roadMap.title }}</td>
                <td>{{ roadMap.description }}</td>
                <td>{{ roadMap.level }}</td>
                <td>{{ roadMap.order }}</td>
                <td>
                    <a href="{{ route('skill-road-maps/' + roadMap.id + '/edit') }}" class="btn btn-primary btn-sm">Edit</a>
                    {{ delete.button('skill-road-maps/' + roadMap.id)  }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="100" class="text-center">No Road Map</td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    </div>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Related Skill</h3>
        <div class="box-tools pull-right">
            <a href="{{ route('skill-relations/' + skill.id + '/create') }}" class="btn btn-primary btn-sm">
                Add Related Skill
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            {% for relatedSkill in relatedSkills %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ relatedSkill.name }}</td>
                <td>
                    {{ delete.button('skill-relations/' + relatedSkill.id + '/' + skill.id)  }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="100" class="text-center">No Related Skills</td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    </div>
</div>

<div class="box box-info" id="skill-parents">
    <div class="box-header with-border">
        <h3 class="box-title">Skill Parents</h3>
        <div class="box-tools pull-right">
            <a href="{{ route('skill-hierarchies/' + skill.id + '/create') }}" class="btn btn-primary btn-sm">
                Add Hierarchy Skill
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Order</th>
                <th>Actions</th>
            </tr>
            {% for parent in skill.parents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ route('skills/' + parent.parentId + '/edit') }}#skill-parents">{{ parent.parent.name }}</a></td>
                <td>{{ parent.order }}</td>
                <td>
                    <a href="{{ route('skill-hierarchies/' + skill.id + '/' + parent.id + '/edit') }}" class="btn btn-primary btn-sm">Edit</a>
                    {{ delete.button('skill-hierarchies/' + parent.id)  }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="100" class="text-center">No Parent Skills</td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    </div>
</div>

<div class="box box-info" id="skill-children">
    <div class="box-header with-border">
        <h3 class="box-title">Skill Children</h3>
        <div class="box-tools pull-right">
            <a href="{{ route('skill-hierarchies/' + skill.id + '/create') }}" class="btn btn-primary btn-sm">
                Add Hierarchy Skill
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Order</th>
                <th>Actions</th>
            </tr>
            {% for child in skill.children %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ route('skills/' + child.childId + '/edit') }}#skill-children">{{ child.child.name }}</a></td>
                <td>{{ child.order }}</td>
                <td>
                    <a href="{{ route('skill-hierarchies/' + skill.id + '/' + child.id + '/edit') }}" class="btn btn-primary btn-sm">Edit</a>
                    {{ delete.button('skill-hierarchies/' + child.id)  }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="100" class="text-center">No Child Skills</td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    </div>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Resources</h3>
        <div class="box-tools pull-right">
            <a href="{{ route('skill-resources/' + skill.id + '/create') }}" class="btn btn-primary btn-sm">
                Add Resource
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Link</th>
                <th>Type</th>
                <th>Is Free</th>
                <th>Actions</th>
            </tr>
            {% for resource in skill.resources %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ resource.title }}</td>
                <td>{{ resource.link }}</td>
                <td>{{ resource.skillMediaType.displayName }}</td>
                <td>{{ resource.isFree }}</td>
                <td>
                    <a href="{{ route('skill-resources/' + resource.id + '/edit') }}" class="btn btn-primary btn-sm">Edit</a>
                    {{ delete.button('skill-resources/' + resource.id)  }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="100" class="text-center">No Resource</td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    </div>
</div>

{% endblock %}